[Desktop Entry]
Encoding=UTF-8
Name=Link to blob:https://web.whatsapp.com/207fb126-8059-436c-b253-13c15ef0b7c5
Type=Link
URL=blob:https://web.whatsapp.com/207fb126-8059-436c-b253-13c15ef0b7c5
Icon=text-html
